mat-dialog-content {
  min-width: 300px;
}

@media (max-width: 599px) {
  mat-dialog-content {
    min-width: 0;
  }
}

.status {
  margin-top: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
