/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-alerta {
  --mdc-snackbar-container-color: #c62828;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-mdc-snack-bar-button-color: #fff;
}

.snack-atencao {
  --mdc-snackbar-container-color: #e65100;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-mdc-snack-bar-button-color: #fff;
}
