<h2>Recorrentes e Parceladas</h2>

<mat-tab-group appAbasArrastaveis>
  <mat-tab label="Recorrentes">
    <app-recorrentes-lista
      [categoriasPorId]="categoriasPorId"
      [subcategoriasPorId]="subcategoriasPorId"
      [lancamentosFuturosPorRecorrente]="lancamentosFuturosPorRecorrente"
      (recorrenciaAlternada)="carregarCalendario()">
    </app-recorrentes-lista>
  </mat-tab>

  <mat-tab label="Parceladas">
    <app-parceladas-lista
      [categoriasPorId]="categoriasPorId"
      [subcategoriasPorId]="subcategoriasPorId">
    </app-parceladas-lista>
  </mat-tab>

  <mat-tab label="Próximas contas">
    <app-proximas-contas
      [calendario]="calendario"
      [carregando]="carregandoCalendario"
      [erro]="erroCalendario"
      (tentarNovamente)="carregarCalendario()">
    </app-proximas-contas>
  </mat-tab>
</mat-tab-group>
